h1 {
    font-family: 'Kumar One';
    color: #F09663 ;
    -webkit-text-stroke: 1px #C8691C;
    font-size: 75px;
    /* text-align: center;
    display: inline-block; */
  }

.button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(18, 80, 26)
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.button-container {
    display: inline-block;
    text-align: center;
}

/* .icons{
    width: 30px;
    height: 30px;
} */